environment {
    QT_STYLE_OVERRIDE null
    QT_QPA_PLATFORMTHEME "qt6ct"
    XDG_CURRENT_DESKTOP "KDE"
    //QT_QPA_PLATFORM "wayland"
    DISPLAY ":0"
}

// autolaunch - inicio automático

spawn-at-startup "quickshell"

// swaybg background wallpaper
//spawn-at-startup "swaybg" "-i" "/home/mar/.cache/wal/wal-blur.png"
//spawn-at-startup "swww-daemon"
//spawn-at-startup "swww" "img" "$(cat" "/home/mar/.cache/wal/wal)"

// walker
spawn-at-startup "elephant"
spawn-at-startup "walker" "--gapplication-service"

// xwayland satellite
spawn-at-startup "xwayland-satellite"

// spawn-at-startup "waybar"
// copy applications.menu for dolphin
// spawn-at-startup "cp" "/etc/xdg/menus/plasma-applications.menu" "/home/mar/.config/menus/applications.menu"

// Input device configuration.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "es"
        }
        numlock
    }
    touchpad {
        // off
        tap
        natural-scroll
    }

    mouse {
        accel-speed 0.5
        accel-profile "flat"
    }
    //warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="25%"
}

output "VGA-1" {
    position x=0 y=0
}
output "DVI-D-1" {
    position x=1024 y=0
}

// workspaces
workspace "1"
workspace "2"
workspace "3"
workspace "4"

layout {
    gaps 5

    center-focused-column "on-overflow"
    always-center-single-column

    preset-column-widths {
        proportion 0.33377
        proportion 0.5
        proportion 0.66633
    }

    preset-window-heights { 
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.7; }

    focus-ring {
        off
    }

    border {
        width 1
        active-color "#7aa2f7"
        inactive-color "#3F3B42"

        urgent-color "#ed8796"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#00000077"
    }

    insert-hint {
        color "#67CC82"
    }
}

// hotkey-overlay
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "/home/mar/.tmp/last-niri-screenshot.png"

// CUSTOM WINDOW RULES
// helium
window-rule {
    match app-id="helium"
    open-maximized true
    // open-on-output "Ancor Communications Inc ASUS VS197 D9LMTF096511"
    open-on-workspace "1"
}
// helium
window-rule {
    match app-id="revive (DEBUG)"
    open-floating false
    open-maximized true
    // open-on-output "Ancor Communications Inc ASUS VS197 D9LMTF096511"
    open-on-workspace "2"
}
// zed
window-rule {
    match app-id="dev.zed.Zed"
    open-on-workspace "2"
    draw-border-with-background false
    opacity 0.97
}
// vesktop
window-rule {
    match app-id="vesktop"
    open-maximized true
    //open-on-output "Rogen Tech Distribution Inc Belinea101536 034401739"
    open-on-workspace "3"
}
// zapzap (whatsapp)
window-rule {
    match app-id="com.rtosta.zapzap"
    open-maximized true
    //open-on-output "Rogen Tech Distribution Inc Belinea101536 034401739"
    open-on-workspace "3"
}
// juegos
window-rule {
    match title="World of Warcraft"
    open-maximized true
    //open-on-output "Ancor Communications Inc ASUS VS197 D9LMTF096511"
}
// floorp
//window-rule {
    //match app-id="one.ablaze.floorp"
    //open-maximized true
    //open-on-output "Ancor Communications Inc ASUS VS197 D9LMTF096511"
//}
// zen
//window-rule {
    //match app-id="app.zen_browser.zen"
    //open-maximized true
    //open-on-output "Ancor Communications Inc ASUS VS197 D9LMTF096511"
//}
// progreso de operación
window-rule {
    match title="Progreso de las operaciones de archivo"
    open-floating true
}
// file picker
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true
}
window-rule {
    match title="^Renombrar\\s.+$"
    // match app-id="thunar"
    open-floating true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="org.kde.plasma.emojier"
    open-floating true
    default-column-width { fixed 649; }
    default-window-height { fixed 519; }
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

//gestures {
//     hot-corners {
//        top-left
//        top-right
//    }
//}

binds {
    // CUSTOM
    // toggle waybar visibility
    //Mod+Shift+W hotkey-overlay-title="Toggle waybar" { spawn "killall" "-SIGUSR1" "waybar" "||" "killall" "-USR1" "waybar"; }

    // shows a list of important hotkeys.
    Mod+F12 { show-hotkey-overlay; }

    // kitty
    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    // thunar
    Mod+E hotkey-overlay-title="Explorador de archivos" { spawn "dolphin"; }
    // launcher
    Mod+BackSpace hotkey-overlay-title="Run an Application: walker" { spawn "walker"; }
    Mod+Shift+BackSpace hotkey-overlay-title="Ejecutar un comando con walker" { spawn "/home/mar/.scripts/walker-runner"; }
    // swaylock
    Mod+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock" "-C" "/home/mar/.config/swaylock/config"; }
    
    // EMOJIS
    Super+period hotkey-overlay-title="EMOJIS" { spawn "plasma-emojier"; }

    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument in the end.
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    Mod+Tab repeat=false { toggle-overview; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space   { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+S { spawn "/home/mar/.scripts/screenshot.sh"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
// overview layer rules
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

